.postListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .postContainer {
    flex: 1 1 30rem; 
    max-width: 30rem; 
    box-sizing: border-box;
  }