.postContainer {
    width: 30rem;
    border: 1px solid var(--border3);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--background-base);
    margin: 1rem 0;
    box-shadow: 0 2px 4px var(--slight-layer);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .postContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--slight-layer);
  }
  
  .postImage {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  .postContent {
    padding: 1rem;
  }
  
  .postTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: var(--accent1);
  }
  
  .postDescription {
    font-size: 0.9rem;
    color: var(--text3);
    margin: 0.5rem 0;
    margin-bottom: 2.4rem;
  }
  
  .postMeta {
    font-size: 0.8rem;
    color: var(--text4);
  }
  
  .postFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    border-top: 1px solid var(--border3);
  }
  
  .authorInfo {
    display: flex;
    align-items: center;
  }
  
  .authorImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .authorName {
    font-size: 0.9rem;
    color: var(--text1);
  }
  
  .postHeart {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  
  .Icon {
    width: 1.2rem;
    height: 1.2rem;
  }