.sidebarContainer {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 24.2rem;
  height: 100%;
  padding: 2rem 1.5rem;

  border-right: 1px solid #ccc;
}

.logo {
  width: 10.2rem;
  height: auto;
  margin-top: -2rem;
  margin-bottom: -0.8rem;
  padding: 0.5rem 1rem;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
