.mainContainer {
  display: flex;
  gap: 8rem;
  justify-content: center;
  width: calc(100% - 24.2rem);
  margin-left: 24.2rem;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 63rem;
}
